<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.kth.com.groupie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".parent.ParentActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".groupMessaging.GroupMessagingActivity"
            android:label="Group Messaging"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EditProfileActivity"
            android:label="Edit Profile"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SettingsActivity"
            android:label="Group Messaging"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".createGroup.CreateGroupActivity"
            android:label="@string/title_activity_create_group"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".firstLogin.FirstLoginActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".editGroup.EditGroupActivity"
            android:label="@string/title_activity_edit_group"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".parent.Preview"
            android:label="Preview"
            android:theme="@style/AppTheme.NoActionBar.PreviewTheme"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>